<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Meta tags for making website for mobile-->
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <meta name="viewport" content="initial-scale=1.25, user-scalable=no">


  <meta charset="UTF-8">
  <title>Widgets</title>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet"/>"


  <!-- STYLE sheet comes after all the libraries are loaded. Document style-->

  <link href="../css/style.css" rel="stylesheet"/>
</head>

<body>

<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">

    <!--back mark-->
    <p class="navbar-text pull-left">
      <a href="../page/page-list.html" class="navbar-link">
        <span class="glyphicon glyphicon-chevron-left"></span>
      </a>
    </p>

    <!--heading on the nav bar-->
    <p class="navbar-header pull-left">
      <a class="navbar-brand thick">
        <b>Widgets</b>
      </a>
    </p>

    <!--plus mark-->
    <p class="navbar-text pull-right">
      <a href="widget-choose.html" class="navbar-link">
        <span class="glyphicon glyphicon-plus"></span>
      </a>
    </p>

  </div>
</nav>

<div class="container-fluid">
  <ul class="list-group">
    <li class="list-group-item borderless header-text row">
      <div class="inline truncate col-xs-8">
        GIZMODO
      </div>
      <div class="inline col-xs-4">
        <a class="pull-right">
          <span class="glyphicon glyphicon-align-justify color-black"></span>
        </a>
        <a class="pull-right" href="widget-heading.html">
          <span class="glyphicon glyphicon-cog"></span>
        </a>
      </div>
    </li>
    <li class="list-group-item borderless subheader-text row">
      <div class="col-xs-8 col-sm-10">
        US Senate reaches Compromise on Emergency Zika Funding
      </div>
      <div class="inline col-xs-4 col-sm-2">
        <a class="pull-right">
          <span class="glyphicon glyphicon-align-justify color-black"></span>
        </a>
        <a class="pull-right" href="widget-heading.html">
          <span class="glyphicon glyphicon-cog"></span>
        </a>
      </div>
    </li>
    <li class="list-group-item borderless row">
      <div class="col-xs-8 ">
        <img
          src="https://i.kinja-img.com/gawker-media/image/upload/s--47gmJqRi--/c_scale,fl_progressive,q_80,w_800/dw3l4m5ulgn6qqlhr7om.png"
          alt="Mosquitos">
      </div>
      <div class="inline col-xs-4 ">
        <a class="pull-right">
          <span class="glyphicon glyphicon-align-justify color-black"></span>
        </a>
        <a class="pull-right" href="widget-image.html">
          <span class="glyphicon glyphicon-cog"></span>
        </a>
      </div>
    </li>
    <li class="list-group-item borderless row">
      <div class="col-xs-8 col-sm-10">
        In February, the White House formally asked Congress for $1.8 billion dollars to help combat
        the Zika virus this summer. Now, the senate has worked on a bipartisan deal will allocate
        $1.1 billion in emergency funding
      </div>
      <div class="inline col-xs-4 col-sm-2">
        <a class="pull-right">
          <span class="glyphicon glyphicon-align-justify color-black"></span>
        </a>
        <a class="pull-right" href="widget-heading.html">
          <span class="glyphicon glyphicon-cog"></span>
        </a>
      </div>
    </li>
    <li class="list-group-item borderless subheader-text row">
      <div class="col-xs-8 col-sm-10">
        Man in Wingsuit Flies Straight Through a Ring of Fire
      </div>
      <div class="inline col-xs-4 col-sm-2">
        <a class="pull-right">
          <span class="glyphicon glyphicon-align-justify color-black"></span>
        </a>
        <a class="pull-right" href="widget-heading.html">
          <span class="glyphicon glyphicon-cog"></span>
        </a>
      </div>
    </li>
    <li class="list-group-item borderless row">
      <div class="col-xs-8 ">
        <iframe src="https://www.youtube.com/embed/uLWLashCXHE"
                frameborder="0" allowfullscreen></iframe>
      </div>
      <div class="inline col-xs-4 ">
        <a class="pull-right">
          <span class="glyphicon glyphicon-align-justify color-black"></span>
        </a>
        <a class="pull-right" href="widget-youtube.html">
          <span class="glyphicon glyphicon-cog"></span>
        </a>
      </div>
    </li>
    <li class="list-group-item borderless row">
      <div class="col-xs-8 col-sm-10">
        Flying in a wingsuit? That’s just not enough anymore. Anyone could do that (I would never do
        that). You have to make it more extreme, like by hitting a target while you’re cutting
        through the air at crazy speeds. Or by making that target a small ring that you have to
        somehow fly through. Or by lighting that ring on fire. Or by... actually, that should be
        extreme enough for now.
      </div>
      <div class="inline col-xs-4 col-sm-2">
        <a class="pull-right">
          <span class="glyphicon glyphicon-align-justify color-black"></span>
        </a>
        <a class="pull-right" href="widget-heading.html">
          <span class="glyphicon glyphicon-cog"></span>
        </a>
      </div>
    </li>
  </ul>
</div>

<!-- Footer -->
<nav class="navbar navbar-default navbar-fixed-bottom">
  <div class="container-fluid">
    <p class="navbar-text pull-right">
      <a href="../user/profile.html">
        <span class="glyphicon glyphicon-user"></span>
      </a>
    </p>

  </div>
</nav>

</body>
</html>
