<div class="container-fluid">
  <h5>Name</h5>
  <input type="text"
         class="form-control"/>
  <h5>Text</h5>
  <input placeholder="Text"
         type="text"
         class="form-control"/>
  <h5>URL</h5>
  <input type="url"
         value="https://i.kinja-img.com/gawker-media/image/upload/s--47gmJqRi--/c_scale,fl_progressive,q_80,w_800/dw3l4m5ulgn6qqlhr7om.png"
         class="form-control"/>
  <h5>Width</h5>
  <input type="text"
         value="100%"
         class="form-control"/>
  <h5>Upload</h5>
  <input type="file"
         class="form-control file-upload"/>
  <a class="btn form-control button-top-margin navbar-blue"
     type="button">Upload Image
  </a>
  <a [routerLink]="['..']"
     class="btn-danger form-control button-top-margin">Delete</a>
</div>
